<footer class="bg-dark text-white text-center py-3 mt-5 ">
    <div class="container">
        <p class="mb-0">
            © 2025 ECONOMI | <a href="#" class="text-white text-decoration-none">Política de Privacidad</a>
        </p>
        <p class="mb-0">
            Síguenos:
            <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
        </p>
    </div>
</footer>