<!-- Navbar -->
<app-navbar></app-navbar>
<!-- End Navbar -->
<!-- Main Content -->
<main id="main">
    <!-- Section frase -->
    <section id="frase" class="frase mt-5">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>"El ahorro es la base de la fortuna."</h2>
                    <p>- Proverbio español</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section frase -->

    <!-- Section graficas -->
    <div class="container my-5">

        <!-- Card arriba -->
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <div class="card custom-card">
                    <img src="/img/gr_usuario/grafica_evolucion_saldo_mensual.png" class="card-img-top" alt="Grafica evolucion saldo mensual">
                    <div class="card-body">
                        <h5 class="card-title">Grafica evolucion saldo mensual</h5>
                        <p class="card-text">Muestra el dinero disponible en este momento. Es el indicador más importante para saber la liquidez actual.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dos cards en el medio -->
        <div class="row justify-content-center mb-4">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img src="/img/gr_usuario/grafica_ingresos_gastos.png" class="card-img-top" alt="Grafica ingresos y gastos">
                    <div class="card-body">
                        <h5 class="card-title">Grafica ingresos y gastos</h5>
                        <p class="card-text">Muestra los ingresos y gastos del usuario durante un periodo determinado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img src="/img/gr_usuario/grafica_proyeccion_saldo_futuro.png" class="card-img-top" alt="Grafica proyeccion saldo futuro">
                    <div class="card-body">
                        <h5 class="card-title">Grafica proyeccion saldo futuro</h5>
                        <p class="card-text">Muestra la proyección del saldo del usuario en el futuro.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card al final -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card custom-card">
                    <img src="/img/gr_usuario/grafica_distibucion_gastos_por_categoria.png" class="card-img-top" alt="Grafica distrivucion gastos por categoria">
                    <div class="card-body">
                        <h5 class="card-title">Grafica distribución gastos por categoría</h5>
                        <p class="card-text">Un gráfico circular dividido en colores que representa el porcentaje de gasto por categoría: Hogar, Ocio, Transporte, Comida, Otros.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Section graficas -->

</main>
<!-- End Main Content -->
<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->