//Colores
$primary: #1B3C53;      // Azul principal
$secondary: #234C6A;    // Azul secundario
$tertiary: #456882;     // Azul terciario
$cuaternary: #E3E3E3;   // Hueso cuaternario
$success: #27AE60;      // Verde éxito/ahorro
$warning: #ffc107;      // Amarillo advertencia
$danger: #E74C3C;       // Rojo error/gasto
$info: #17a2b8;         // Azul claro informativo
$light: #ECF0F1;        // Gris claro fondo
$dark: #343a40;         // Color oscuro texto
$color-text: #34495E;   // Gris oscuro texto principal


//Fuente general
$font-family-base: 'Arial', sans-serif;

//Fuente personalizados
$font-size-base: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
