<!-- hero  -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container hero-content text-center">
        <div class=" p-4">
            <h1>Bienvenido a Economi</h1>
            <h2>Tu puerta de entrada a conocimientos y análisis económicos</h2>
            <div>
                <a href="/login" class="btn btn-primary mt-3">Comenzar</a>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- Navbar -->
<app-navbar></app-navbar>
<!-- End Navbar -->
<!-- Main Content -->
<main id="main">
    <!-- Section frase -->
    <section id="frase" class="frase mt-5">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>"La economía es la ciencia de la elección en un mundo de recursos escasos."</h2>
                    <p>- Paul Samuelson</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section frase -->

    <!-- Section graficas -->
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Card 1 - Ahorro Anual -->
            <a href="/desarrollo">
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="img/grafica_ahorro_anual.png" class="card-img-top" alt="Gráfica Ahorro">
                        <div class="card-body">
                            <h5 class="card-title">Ahorro anual general</h5>
                            <p class="card-text">Gráfica que muestra el ahorro anual general de todos los usuarios.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Card 2 - Ganancias/Pérdidas Anuales -->
            <a href="/desarrollo">
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="img/grafica_ganancias_perdidas.png" class="card-img-top"
                            alt="Gráfica Ganancias/Pérdidas">
                        <div class="card-body">
                            <h5 class="card-title">Ganancias / Pérdidas anuales</h5>
                            <p class="card-text">Gráfica de ganancias y pérdidas anuales de todos los usuarios.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Card 3 - Crecimiento Anual -->
            <a href="/desarrollo">
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="img/grafica_crecimiento_usuarios.png" class="card-img-top" alt="Gráfica Crecimiento">
                        <div class="card-body">
                            <h5 class="card-title">Crecimiento anual</h5>
                            <p class="card-text">Gráfica que muestra el crecimiento anual de los usuarios.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Section graficas -->

    <!-- Section about us -->
    <section id="about-us" class="about-us mb-3">
        <div class="container" data-aos="fade-up">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 order-2 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="img/about-us.jpg" class="img-fluid" alt="Sobre Nosotros">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-1 content">
                    <h3>Sobre Nosotros</h3>
                    <p class="fst-italic">
                        En Economi, nuestra misión es proporcionar recursos educativos y análisis económicos de alta
                        calidad para estudiantes, profesionales y entusiastas de la economía.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Recursos educativos actualizados y relevantes.</li>
                        <li><i class="bi bi-check-circle"></i> Análisis profundos de tendencias económicas globales.
                        </li>
                        <li><i class="bi bi-check-circle"></i> Comunidad activa para compartir conocimientos y
                            experiencias.</li>
                    </ul>
                    <p>
                        Únete a nosotros en nuestro viaje para comprender mejor el mundo económico que nos rodea y tomar
                        decisiones informadas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section about us -->
</main>
<!-- End Main Content -->
<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->