//Colores
$primary: #0056b3;  // Azul principal
$secondary: #6c757d; // Gris
$success: #28a745;  // Verde éxito
$danger: #dc3545;  // Rojo error
$warning: #ffc107;  // Amarillo advertencia
$info: #17a2b8;  // Azul claro
$light: #f8f9fa;  // Fondo claro
$dark: #343a40;  // Color oscuro

//Fuente general
$font-family-base: 'Arial', sans-serif;

//Fuente personalizados
$font-size-base: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
